@*
   created by kadari
*@
@model Events
<h3>EventDetails</h3>
<div class="imgdiv">
    <img src="~/images/@Model.ImageId" alt="@Model.Title" />
</div>
<div>
    <h5>@Model.Title</h5>
    <table>
        <tr>
            <td> Description:</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td> TicketPrice:</td>
            <td>@Model.TicketPrice.ToString("C2")</td>
        </tr>
    </table>
    <p>
        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.Id">Buy tickets for this events</a>
    </p>
    <p>
        <a asp-controller="Events" asp-action="EventList" >Back to Event List</a>
    </p>
</div>
